<!DOCTYPE html>
<html ng-app="app">
  <head>
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular-resource.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular-cookies.min.js"></script>
    <script src="authentication_controller.js"></script>
    <script src="requests_controller.js"></script>
    <script src="stocks_controller.js"></script>
    <script src="shared_service.js"></script>
    <script src="authentication.js"></script>
    <script src="stocks.js"></script>
    <script src="request.js"></script>
    <script src="module.js"></script>
    <script src="bootstrap.min.js"></script>
    <link href="bootstrap.min.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="style.css" media="screen" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="main-container">
      <div class="authentication" ng-controller="AuthenticationCtrl">
        <h3>Admin</h3>
        <form ng-submit="login()" ng-class="{hide: is_admin}">
          <input ng-model="password" type="text" size="30" placeholder="Hasło" />
          <input class="btn btn-primary" type="submit" value="Zaloguj"/>
        </form>
        <a href="#" ng-click="logout()" ng-class="{hide: !is_admin}">Wyloguj</a>
      </div>
      <div class="stocks" ng-controller="StocksCtrl">
        <h3>Zamówienia stałe</h3>
        <ul>
          <li ng-repeat="stock in stocks | orderBy:predicate:reverse" class="{{stock.status}}">
            <div class="progress">
              <div class="bar {{stock.class_name}}" style="width: 40%;">{{stock.text}}</div>
              <div class="bar bar-danger" style="width: 15%;"><a href="#" ng-click="update(stock, 'empty')">Brak</a></div>
              <div class="bar bar-warning" style="width: 15%;"><a href="#" ng-click="update(stock, 'low')">Końcówka</a></div>
              <div class="bar bar-success" style="width: 15%;"><a href="#" ng-click="update(stock, 'medium')">Połowa</a></div>
              <div class="bar" style="width: 15%;"><a href="#" ng-click="update(stock, 'whole')">Pełno</a></div>
            </div>
          </li>
        </ul>
      </div>
      <div class="requests" ng-controller="RequestsCtrl">
        <h3>Zamówienia specialne</h3>
        <form ng-submit="create()" name="newRequest" validate>
          <input type="hidden" ng-model="request.user_token" ng-init="request.user_token=user_token" />
          <input ng-model="request.text" required type="text" size="30" placeholder="Nazwa" />
          <input class="btn btn-primary" type="submit" value="Dodaj" ng-disabled="newRequest.$invalid"/>
        </form>
        <table class="table table-striped">
          <tr>
            <th style="width: 5px">#</th>
            <th>Nazwa</th>
          </tr>
          <tr ng-repeat="request in requests | orderBy:predicate:reverse">
            <td id="request_{{request.id}}">{{$index+1}}.</td>
            <td>
              {{request.text}}
              <a class="btn btn-danger" ng-click="remove(request)" ng-class="{hide: !can_remove_request(request)}" href="#">Usuń</a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
